	table{
	border-collapse: collapse;
	text-align:center;
	font-size: 24px;
	margin: 0 auto;
	}
	.table_commande td, th{
	padding:20px;
	/*border:solid 1pt black;*/
	}
	.table_commande th{
	border-top:solid 2pt black;
	}
	.suppr{
	color:red;
	}
	.regles{
	text-align:center;	
	}
	select, input, .kit{	
	font-size: 24px;	
	}
	.kit{	
	text-align:center;
	}
	.img{
	padding:10px;
	}
	.prix{
	vertical-align:top;
	border-bottom: solid 1px black;}
	
	.fin_produit{
	border-bottom: solid 1px black;}
	
	#valid_commande{
	text-align:right;
	float:right;
	margin:0;
	}